<div class="container">
    <h1>Our events</h1>
    <hr class="mb-3">

    <div class="row mb-3">
        {{#each dateFormatEvents}}
        <div class="col-md-6 mb-5 event-box">
            <div class="event-box text-center">
                <div class="image-container mb-3">
                    <img class="event-pic mb-2" src="{{eventImg}}" alt="{{name}}">
                </div>
            </div>

            <div class="event-deet-box">
                <p>{{name}}</p>
                <p>Where: {{location.name}}</p>
                <p>When: {{date}} - {{time.start}} | {{time.end}}</p>

                <div class="d-flex justify-content-start gap-2">
                    <form action="/events/{{_id}}/join" method="POST">
                        <input type="submit" value="Join" class="btn btn-sm btn-danger">
                    </form>
                    <a href="/events/{{_id}}" class="btn btn-sm btn-info custom-button">View event details</a>
                </div>
            </div>

            <hr class="mb-3">
        </div>
        {{/each}}
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap"></script>
<script src="/js/event-map.js"></script>