<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>New Event</h1>
            <hr>
            <div class="row">
                <form action="/events/create" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="date" class="form-label">When?</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label for="startTime" class="form-label">Start Time</label>
                                <input type="time" class="form-control" id="startTime" name="timeStart">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="endTime" class="form-label">End Time</label>
                                <input type="time" class="form-control" id="endTime" name="timeEnd">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Where?</label>
                        <input type="text" id="search" class="form-control" name="location">
                        <input type="hidden" id="lat" name="lat">
                        <input type="hidden" id="lng" name="lng">
                        <input type="hidden" id="locationName" name="locationName">
                    </div>

                    <div class="mb-3">
                        <label for="eventImg" class="form-label">Add an image</label>
                        <input type="text" class="form-control" id="eventImg" name="image">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" rows="3"
                            name="description"></textarea>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="totalTickets">Total Tickets:</label>
                            <input type="number" id="totalTickets" name="tickets[total]" required>
                        </div>

                        <div class="col">
                            <label for="availableTickets">Available Tickets:</label>
                            <input type="number" id="availableTickets" name="tickets[available]" required>
                        </div>
                    </div>

                    {{!-- <label for="host">Host:</label>
                    <select id="host" name="host" required>

                        {{#each hosts}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>


                    <label for="reviews">Reviews:</label>
                    <select id="reviews" name="reviews[]" multiple>

                        {{#each reviews}}
                        <option value="{{this._id}}">{{this.title}}</option>
                        {{/each}}
                    </select>


                    <label for="participants">Participants:</label>
                    <select id="participants" name="participants[]" multiple>

                        {{#each participants}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select> --}}

                    <div class="d-grid mt-5">
                        <button type="submit" class="btn btn-dark btn-lg">Create event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ0r02Yba37PtZDZ55sV8s962Q1Hdtihw&libraries=places&callback=initAutocomplete"
    async defer></script>
{{!--
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> --}}
<script src="/js/google-places-api.js"></script>