<div class="container">

    <div class="row">
        <div class="col-md-4 text-center">
            <img class="event-pic" src="{{event.eventImg}}" alt="{{event.name}}">
        </div>

        <div class="col-md-8">
            <p class="event-deets"><strong>{{event.name}}</strong></p>
            <p><strong>Description:</strong> {{event.description}}</p>
            <p><strong> When: </strong>{{event.date}} - {{event.time.start}} | {{event.time.end}}</p>
            <p><strong> Where: </strong>{{event.location.name}}</p>
            <div class="container">
                <div id="map" style="height: 200px; width: 300px;" class="mb-3"></div>

            </div>

            <p><strong> Tickets: </strong>{{event.tickets.total}}</p>
        </div>
    </div>

    <hr>

    <a href="/events/list" class="btn btn-dark">Back to events</a>


</div>


<script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCQ0r02Yba37PtZDZ55sV8s962Q1Hdtihw"></script>
<script src="/js/event-map.js"></script>