<div class="container">

    <h1 class="mb-3">Platforms streaming {{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{poster}}" alt="Program Image">
        </div>
        <div class="col-md-8 d-flex movie-plot-box">
            <div class="col-md-6">
                <p class="movie-plot">{{plot_overview}}</p>
                <p>{{type}}, {{runtime_minutes}} min</p>

                <p>{{#each genre_names}} {{this}} |{{/each}}</p>
                <form action="/movie-search-results/{{id}}/like" method="POST" style="display: inline">
                    <input type="submit" value="Like" class="btn btn-sm btn-danger">
                </form>
            </div>
        </div>
    </div>

    <hr>



    <div class="row">

        {{#each sources}}
        <div class="col-md-4">
            <h5 class="mb-2"> {{name}} </h5>

            {{#if price}}

            <p> {{format}}</p>
            <p>{{type}} - ${{price}}</p>

            {{else}}

            <p> {{format}} - {{type}} </p>

            {{/if}}

        </div>
        {{/each}}
    </div>

    <a href="/" class="btn btn-dark mb-5">Back to HOME</a>
</div>