<div class="container">

    <h2>Welcome, {{user.username}}</h2>
    <hr>
    <div class="row mb-3">
        <div class="col-md-4 text-center avatar-box">
            <img class="avatar" id="profileImage" src="{{user.avatar}}" alt="Avatar Image">
        </div>
        <div class="col-md-8">
            <p class="mt-5"><strong>My email:</strong> {{user.email}}</p>
            <p><strong>About me:</strong> {{user.description}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>My favorite movies:</h4>
        <div class="col d-flex movie-plot-box">
            {{#each favMovies}}
            <div class="col-md-3 d-flex flex-column align-items-center">
                <img class="poster-userlist mb-2" src="{{poster}}" alt="{{title}} poster">
                <p class="movie-title"> {{title}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Events I'm attending:</h4>
        <div class="col d-flex event-deet-box">
            {{#each user.myEvents}}
            <div class="col d-flex flex-column align-items-center">
                <img class="events-userlist mb-2 mr-3" src="{{this.eventImg}}" alt="{{this.name}}">
                <article>
                    <p><strong>Name:</strong> {{this.name}}</p>
                    <p class="user-profile-date"><strong>Date:</strong> {{this.date}}</p>
                    <p class="user-profile-date"><strong>Time:</strong> {{this.time.start}}-{{this.time.end}}</p>
                    <p><strong>Where:</strong> {{this.location.name}}</p>
                </article>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>
    <a href="/users/edit/{{user._id}}" class="btn btn-sm view-deets-button mb-5">Edit profile</a>
</div>