<div class="container">

    <h2>Welcome, {{user.username}}</h2>
    <hr>
    <div class="row">

        <div class="col-md-4 text-center avatar-box">
            <img class="avatar" id="profileImage" src="{{user.avatar}}" alt="Avatar Image">
        </div>
        <div class="col-md-8 d-flex movie-plot-box">
            <div class="col-md-6">
                <p>My email: {{user.email}}</p>
                <p>My favorite movies:</p>
                <div class="row movie-list-user">
                    {{#each favMovies}}
                    <div class="col-md-4">
                        <img class="poster-userlist mb-2" src="{{poster}}" alt="{{title}} poster">
                        <p class="movie-title"> {{title}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center avatar-box">
        </div>
        <div class="col-md-6">
            <p>Events I attended:</p>
            <ul>
                {{#each user.myEvents}}
                <li class=" ">Name: {{this.name}}, Date: {{this.date}} | {{this.time}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <hr>
    <a href="/users/edit/{{user._id}}" class="btn btn-sm btn-info">Edit profile</a>

</div>