<div class="container">

    <h1>Bienvenid@, {{user.username}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center avatar-box">
            <img class="avatar" id="profileImage" src="{{user.avatar}}" alt="Avatar Image">
        </div>
        <div class="col-md-8 d-flex movie-plot-box">
            <div class="col-md-6">

                <p>Tu email es {{user.email}}</p>
                <p>Tus peliculas favoritas son: </p>
                <ul>
                    <li>test</li>
                    {{#each user.favMovies}}
                    <li>Name: {{this.name}}</li>
                    {{/each}}
                </ul>
                <p>Events I attended:</p>

                <ul>
                    {{#each user.myEvents}}
                    <li>Name: {{this.name}}, Date: {{this.date}} | {{this.time}}, Description: {{this.description}}</li>
                    {{/each}}
                </ul>

            </div>
        </div>

    </div>
    <hr>
    <a href="/users/edit/{{user._id}}" class="btn btn-sm btn-info">editar</a>
</div>